.about {
  padding: 20px;
  background-color: var(--whiteColor);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primaryColor);
  margin-bottom: 10px;
}

.about-description {
  font-size: 16px;
  color: var(--textColor);
  margin-bottom: 10px;
}

